{% extends 'shared/base.html' %}

{% block title %}Home - My Site{% endblock %}

{% block content %}
    {% load i18n %}
<h2>{% trans "Categories" %}</h2>
    {% load custom_tags %}
    {% if request.user|user_in_group:'manager' %}
        <a class="primary-btn" href="{% url 'add_category' %}">{% trans "Add Category" %}</a>
    {% endif %}
        <div class="items-list">
            {% for category in categories %}
                <a class="item-link" href="{% url 'category_detail' category.id %}">
                {{ category.name }}
                </a>
            {% endfor %}
        </div>
{% endblock %}