{% extends 'shared/base.html' %}

{% block title %}Home - My Site{% endblock %}

{% block content %}
        {% load i18n %}
    <h2>{{ category.name }}</h2>
    {% load custom_tags %}
    {% if request.user|user_in_group:'manager' %}
    <a class="primary-btn" href="{% url 'delete_category' category.id %}">{% trans "Delete Category" %}</a>
    <a class="primary-btn" href="{% url 'update_category' category.id %}">{% trans "Update Category" %}</a>
    {% endif %}
        {% include 'components/game_component.html' with games=category.game_set.all %}
{% endblock %}